<!-- <div class="sidebar">
	<ul class="sidebar__list">
		<li class="sidebar__list-item active">
			<a href="#">
				<img src="./img/sidebar/sidebar-1.svg" alt="icon" />
				Моя інформація
			</a>
		</li>
		<li class="sidebar__list-item">
			<a href="#">
				<img src="./img/sidebar/sidebar-2.svg" alt="icon" />
				Мої автомобілі
			</a>
		</li>
		<li class="sidebar__list-item">
			<a href="#">
				<img src="./img/sidebar/sidebar-3.svg" alt="icon" />
				Повідомлення
			</a>
		</li>
		<li class="sidebar__list-item">
			<a href="#">
				<img src="./img/sidebar/sidebar-4.svg" alt="icon" />
				Обрані автомобілі
			</a>
		</li>
		<li class="sidebar__list-item">
			<a href="#">
				<img src="./img/sidebar/sidebar-5.svg" alt="icon" />
				Продати авто
			</a>
		</li>
		<li class="sidebar__list-item">
			<a href="#">
				<img src="./img/sidebar/sidebar-6.svg" alt="icon" />
				Лізінг
			</a>
		</li>
		<li class="sidebar__list-item">
			<a href="#">
				<img src="./img/sidebar/sidebar-7.svg" alt="icon" />
				Ломбард
			</a>
		</li>
		<li class="sidebar__list-item">
			<a href="#">
				<img src="./img/sidebar/sidebar-8.svg" alt="icon" />
				Допомога
			</a>
		</li>
	</ul>
	<ul class="sidebar__list">
		<li class="sidebar__list-item">
			<a href="#">
				<img src="./img/sidebar/exit_icon.svg" alt="icon" />
				Вихід
			</a>
		</li>
	</ul>
</div> -->

<div class="topbar">
	<ul class="topbar__list">
		<li class="topbar__list-item active">
			<a href="#">
				<img src="./img/sidebar/sidebar-1.svg" alt="icon" />
				Моя інформація
			</a>
		</li>
		<li class="topbar__list-item">
			<a href="#">
				<img src="./img/sidebar/sidebar-2.svg" alt="icon" />
				Мої автомобілі
			</a>
		</li>
		<li class="topbar__list-item">
			<a href="#">
				<img src="./img/sidebar/sidebar-3.svg" alt="icon" />
				Повідомлення
			</a>
		</li>
		<li class="topbar__list-item">
			<a href="#">
				<img src="./img/sidebar/sidebar-4.svg" alt="icon" />
				Обрані автомобілі
			</a>
		</li>
		<li class="topbar__list-item">
			<a href="#">
				<img src="./img/sidebar/sidebar-5.svg" alt="icon" />
				Продати авто
			</a>
		</li>
		<li class="topbar__list-item">
			<a href="#">
				<img src="./img/sidebar/sidebar-6.svg" alt="icon" />
				Лізінг
			</a>
		</li>
		<li class="topbar__list-item">
			<a href="#">
				<img src="./img/sidebar/sidebar-7.svg" alt="icon" />
				Ломбард
			</a>
		</li>
		<li class="topbar__list-item">
			<a href="#">
				<img src="./img/sidebar/sidebar-8.svg" alt="icon" />
				Допомога
			</a>
		</li>
		<li class="topbar__list-item">
			<a href="#">
				<img src="./img/sidebar/exit_icon.svg" alt="icon" />
				Вихід
			</a>
		</li>
	</ul>
</div>
