.footer-wrap {
	position: relative;
	&__bg {
		position: absolute;
		right: 0;
		bottom: 0;
		@media (max-width: 991px) {
			display: none;
		}
	}
}

.footer {
	@include flex(column, center, center);
	padding-bottom: 80px;
	border-bottom: 1px solid #2b2b2b;
	@media (max-width: 991px) {
		padding-bottom: 48px;
	}
	&__logo {
		@include flex(row, center, center);
		margin-bottom: 56px;
		@media (max-width: 991px) {
			margin-bottom: 32px;
		}
	}
	&__links {
		@include flex(row, center, center);
		gap: 48px;
		margin-bottom: 32px;
	}
	&__link {
		@include flex(row, center, center);
		width: 56px;
		height: 56px;
		border-radius: 100%;
		border: 1px solid $accent;
		@media (max-width: 991px) {
			width: 40px;
			height: 40px;
			margin-bottom: 24px;
		}
	}
	&__contact {
		@include flex(column, center, center);
	}
	p {
		color: $accent;
		text-shadow: 0px 0px 25px rgba(255, 213, 133, 0.4);
		font-size: 18px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}
}
.footer-description {
	padding: 24px 0 45px 0;
	width: 100%;
	@include flex(row, space-between, center);
	gap: 10px;
	color: $accent;
	text-align: center;
	text-shadow: 0px 0px 25px rgba(255, 213, 133, 0.4);
	@media (max-width: 991px) {
		padding: 24px 0 57px 0;
	}
}
.footer-second {
	@include flex(row, center, center);
	gap: 56px;
	padding-bottom: 24px;
}
